[submodule "ChibiOS"]
	path = ChibiOS
	url = ./ChibiOS
[submodule "ChibiOS-Contrib"]
	path = ChibiOS-Contrib
	url = ./ChibiOS-Contrib/
[submodule "uf2"]
	path = uf2
	url = https://github.com/microsoft/uf2.git
